version: "3.9"
services:
  postgres:
    image: postgres:17.2-alpine3.21
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=intern_hiring_user
      - POSTGRES_PASSWORD=intern_hiring_password
      - POSTGRES_DB=intern_hiring_db

  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - postgres